AI workflow.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "= {{ $json.subject_emil }}",
                    "rightValue": "invoice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5b34183c-4ec9-4a9b-9147-5ede571fc762"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extract invoice data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "62596ce1-bee6-4b61-8741-c1c69d8d6212",
                    "leftValue": "={{ $json.subject_emil }}",
                    "rightValue": "complain ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Assign to support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ecdc8e8-9147-44cb-9aa4-1708bbeb35d6",
                    "leftValue": "={{ $json.subject_emil }}",
                    "rightValue": "lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Assign to sales person"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d52b1fc0-5c46-4213-a203-16151b023619",
                    "leftValue": "={{ $json.subject_emil }}",
                    "rightValue": "job Application",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add to HR database"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12db9b28-9b15-4884-8f02-a689bec8c733",
                    "leftValue": "={{ $json.subject_emil }}",
                    "rightValue": "meeting request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "do arrangement and Notify attendees"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d966a33f-2a3a-41cd-b0fe-019c7a27d53f",
                    "leftValue": "={{ $json.subject_emil }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Go to manual review"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": 5
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9692f47d-528f-4be8-90c6-381872bc31fa",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cdd75ee-b348-47f8-8c96-33c402f13bbc",
              "name": "subject_emil",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98769fa6-3fdc-47ef-bf11-a2abb6a56faa",
              "name": "subject_email",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "7487c3bb-1a3d-4e9e-a1fa-c65fe55b7ea7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        0
      ],
      "id": "f95bc76f-6e62-40b8-aee2-a3bfc5e94f21",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OIuOybx6feyPUYvn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c22dbc1-2ab6-4ecd-89ad-4759b228c102",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35c3e46f2cba3b69568982fb4645e7dbd070b797322f77a4388497d2b0a9c936"
  },
  "nodeGroups": [],
  "id": "DL9tf7se6uLZYG86",
  "tags": []
}